In [43]:
#Load packages
import pandas as pd
import numpy as np

# I. Coding Run Expectancy Dataset (2017)

In [44]:
# Read in MLBAM Data for 2017

MLBAM17 = pd.read_csv("D:\\GitHub\\Coursera\\SportsPerformanceAnalytics\\MoneyBallAndBeyond\\data\\MLBAM17.csv")

In [45]:
#Your Code Here
MLBAM17.drop(['Unnamed: 0'], axis=1, inplace=True)

RE17 = MLBAM17[['batterName','batterId','event', 'start1B', 'start2B', 'start3B', 'end1B', 'end2B', 'end3B',\
                   'startOuts','endOuts','runsFuture','runsOnPlay','outsInInning',\
                   'stand', 'throws','venueId', 'stadium', 'batterPos']].copy()

display(RE17)

,batterName,batterId,event,start1B,start2B,start3B,end1B,end2B,end3B,startOuts,endOuts,runsFuture,runsOnPlay,outsInInning,stand,throws,venueId,stadium,batterPos
0,Gardner,458731,Flyout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,L,R,12,Tropicana Field,LF
1,"Sanchez, G",596142,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0,0,3,R,R,12,Tropicana Field,C
2,Bird,595885,Walk,NaN,NaN,NaN,595885.0,NaN,NaN,2,2,0,0,3,L,R,12,Tropicana Field,1B
3,Holliday,407812,Groundout,595885.0,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,R,R,12,Tropicana Field,DH
4,"Dickerson, C",572816,Single,NaN,NaN,NaN,572816.0,NaN,NaN,0,0,3,0,3,L,R,12,Tropicana Field,DH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185590,Vincej,572227,Runner Out,571740.0,608385.0,NaN,NaN,NaN,NaN,2,3,0,0,3,R,R,17,Wrigley Field,UN
185591,"Davis, T",543089,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,0,3,R,R,17,Wrigley Field,UN
185592,Almora Jr.,546991,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1,3,R,R,17,Wrigley Field,UN
185593,Freeman,502273,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0,0,3,L,R,17,Wrigley Field,UN
185594,Zobrist,450314,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,L,R,17,Wrigley Field,LF

In [46]:
RE17['Start1'] = np.where(pd.isnull(RE17['start1B']),0,1)
RE17['Start2'] = np.where(pd.isnull(RE17['start2B']),0,1)
RE17['Start3'] = np.where(pd.isnull(RE17['start3B']),0,1)
RE17

,batterName,batterId,event,start1B,start2B,start3B,end1B,end2B,end3B,startOuts,...,runsOnPlay,outsInInning,stand,throws,venueId,stadium,batterPos,Start1,Start2,Start3
0,Gardner,458731,Flyout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,3,L,R,12,Tropicana Field,LF,0,0,0
1,"Sanchez, G",596142,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,3,R,R,12,Tropicana Field,C,0,0,0
2,Bird,595885,Walk,NaN,NaN,NaN,595885.0,NaN,NaN,2,...,0,3,L,R,12,Tropicana Field,1B,0,0,0
3,Holliday,407812,Groundout,595885.0,NaN,NaN,NaN,NaN,NaN,2,...,0,3,R,R,12,Tropicana Field,DH,1,0,0
4,"Dickerson, C",572816,Single,NaN,NaN,NaN,572816.0,NaN,NaN,0,...,0,3,L,R,12,Tropicana Field,DH,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185590,Vincej,572227,Runner Out,571740.0,608385.0,NaN,NaN,NaN,NaN,2,...,0,3,R,R,17,Wrigley Field,UN,1,1,0
185591,"Davis, T",543089,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,3,R,R,17,Wrigley Field,UN,0,0,0
185592,Almora Jr.,546991,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,1,...,1,3,R,R,17,Wrigley Field,UN,0,0,0
185593,Freeman,502273,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,3,L,R,17,Wrigley Field,UN,0,0,0
185594,Zobrist,450314,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,2,...,0,3,L,R,17,Wrigley Field,LF,0,0,0

In [47]:
RE17['Start_State'] = (RE17['Start1'].astype(str) + RE17['Start2'].astype(str) + RE17['Start3'].astype(str)+\
                          " " + RE17['startOuts'].astype(str))

RE17

,batterName,batterId,event,start1B,start2B,start3B,end1B,end2B,end3B,startOuts,...,outsInInning,stand,throws,venueId,stadium,batterPos,Start1,Start2,Start3,Start_State
0,Gardner,458731,Flyout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,3,L,R,12,Tropicana Field,LF,0,0,0,000 0
1,"Sanchez, G",596142,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,...,3,R,R,12,Tropicana Field,C,0,0,0,000 1
2,Bird,595885,Walk,NaN,NaN,NaN,595885.0,NaN,NaN,2,...,3,L,R,12,Tropicana Field,1B,0,0,0,000 2
3,Holliday,407812,Groundout,595885.0,NaN,NaN,NaN,NaN,NaN,2,...,3,R,R,12,Tropicana Field,DH,1,0,0,100 2
4,"Dickerson, C",572816,Single,NaN,NaN,NaN,572816.0,NaN,NaN,0,...,3,L,R,12,Tropicana Field,DH,0,0,0,000 0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185590,Vincej,572227,Runner Out,571740.0,608385.0,NaN,NaN,NaN,NaN,2,...,3,R,R,17,Wrigley Field,UN,1,1,0,110 2
185591,"Davis, T",543089,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,3,R,R,17,Wrigley Field,UN,0,0,0,000 0
185592,Almora Jr.,546991,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,1,...,3,R,R,17,Wrigley Field,UN,0,0,0,000 1
185593,Freeman,502273,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,...,3,L,R,17,Wrigley Field,UN,0,0,0,000 1
185594,Zobrist,450314,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,2,...,3,L,R,17,Wrigley Field,LF,0,0,0,000 2

In [48]:
RE17['End1'] = np.where(pd.isnull(RE17['end1B']),0,1)
RE17['End2'] = np.where(pd.isnull(RE17['end2B']),0,1)
RE17['End3'] = np.where(pd.isnull(RE17['end3B']),0,1)
RE17

,batterName,batterId,event,start1B,start2B,start3B,end1B,end2B,end3B,startOuts,...,venueId,stadium,batterPos,Start1,Start2,Start3,Start_State,End1,End2,End3
0,Gardner,458731,Flyout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,12,Tropicana Field,LF,0,0,0,000 0,0,0,0
1,"Sanchez, G",596142,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,...,12,Tropicana Field,C,0,0,0,000 1,0,0,0
2,Bird,595885,Walk,NaN,NaN,NaN,595885.0,NaN,NaN,2,...,12,Tropicana Field,1B,0,0,0,000 2,1,0,0
3,Holliday,407812,Groundout,595885.0,NaN,NaN,NaN,NaN,NaN,2,...,12,Tropicana Field,DH,1,0,0,100 2,0,0,0
4,"Dickerson, C",572816,Single,NaN,NaN,NaN,572816.0,NaN,NaN,0,...,12,Tropicana Field,DH,0,0,0,000 0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185590,Vincej,572227,Runner Out,571740.0,608385.0,NaN,NaN,NaN,NaN,2,...,17,Wrigley Field,UN,1,1,0,110 2,0,0,0
185591,"Davis, T",543089,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,17,Wrigley Field,UN,0,0,0,000 0,0,0,0
185592,Almora Jr.,546991,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,1,...,17,Wrigley Field,UN,0,0,0,000 1,0,0,0
185593,Freeman,502273,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,...,17,Wrigley Field,UN,0,0,0,000 1,0,0,0
185594,Zobrist,450314,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,2,...,17,Wrigley Field,LF,0,0,0,000 2,0,0,0

In [49]:
RE17['End_State'] = (RE17['End1'].astype(str) + RE17['End2'].astype(str) + RE17['End3'].astype(str)+\
                          " " + RE17['endOuts'].astype(str))

In [50]:
RE17 = RE17[((RE17.Start_State != RE17.End_State) | (RE17.runsOnPlay > 0)) & (RE17.outsInInning == 3)]
display(RE17)

,batterName,batterId,event,start1B,start2B,start3B,end1B,end2B,end3B,startOuts,...,stadium,batterPos,Start1,Start2,Start3,Start_State,End1,End2,End3,End_State
0,Gardner,458731,Flyout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,Tropicana Field,LF,0,0,0,000 0,0,0,0,000 1
1,"Sanchez, G",596142,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,...,Tropicana Field,C,0,0,0,000 1,0,0,0,000 2
2,Bird,595885,Walk,NaN,NaN,NaN,595885.0,NaN,NaN,2,...,Tropicana Field,1B,0,0,0,000 2,1,0,0,100 2
3,Holliday,407812,Groundout,595885.0,NaN,NaN,NaN,NaN,NaN,2,...,Tropicana Field,DH,1,0,0,100 2,0,0,0,000 3
4,"Dickerson, C",572816,Single,NaN,NaN,NaN,572816.0,NaN,NaN,0,...,Tropicana Field,DH,0,0,0,000 0,1,0,0,100 0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185590,Vincej,572227,Runner Out,571740.0,608385.0,NaN,NaN,NaN,NaN,2,...,Wrigley Field,UN,1,1,0,110 2,0,0,0,000 3
185591,"Davis, T",543089,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,Wrigley Field,UN,0,0,0,000 0,0,0,0,000 1
185592,Almora Jr.,546991,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,1,...,Wrigley Field,UN,0,0,0,000 1,0,0,0,000 1
185593,Freeman,502273,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,...,Wrigley Field,UN,0,0,0,000 1,0,0,0,000 2
185594,Zobrist,450314,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,2,...,Wrigley Field,LF,0,0,0,000 2,0,0,0,000 3

In [51]:
Start_RunExp = RE17.groupby(['Start_State'])['runsFuture'].mean().reset_index().rename(columns={'runsFuture':'Start_RE'})
RE17 = pd.merge(RE17, Start_RunExp, on=['Start_State'], how='left')
display(RE17)

,batterName,batterId,event,start1B,start2B,start3B,end1B,end2B,end3B,startOuts,...,batterPos,Start1,Start2,Start3,Start_State,End1,End2,End3,End_State,Start_RE
0,Gardner,458731,Flyout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,LF,0,0,0,000 0,0,0,0,000 1,0.516375
1,"Sanchez, G",596142,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,...,C,0,0,0,000 1,0,0,0,000 2,0.272176
2,Bird,595885,Walk,NaN,NaN,NaN,595885.0,NaN,NaN,2,...,1B,0,0,0,000 2,1,0,0,100 2,0.108038
3,Holliday,407812,Groundout,595885.0,NaN,NaN,NaN,NaN,NaN,2,...,DH,1,0,0,100 2,0,0,0,000 3,0.225365
4,"Dickerson, C",572816,Single,NaN,NaN,NaN,572816.0,NaN,NaN,0,...,DH,0,0,0,000 0,1,0,0,100 0,0.516375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184746,Vincej,572227,Runner Out,571740.0,608385.0,NaN,NaN,NaN,NaN,2,...,UN,1,1,0,110 2,0,0,0,000 3,0.449782
184747,"Davis, T",543089,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,UN,0,0,0,000 0,0,0,0,000 1,0.516375
184748,Almora Jr.,546991,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,1,...,UN,0,0,0,000 1,0,0,0,000 1,0.272176
184749,Freeman,502273,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,...,UN,0,0,0,000 1,0,0,0,000 2,0.272176
184750,Zobrist,450314,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,2,...,LF,0,0,0,000 2,0,0,0,000 3,0.108038

In [52]:
Base_State_3 = [pd.Series(['000 3', 0], index=Start_RunExp.columns),
                pd.Series(['001 3', 0], index=Start_RunExp.columns),
                pd.Series(['010 3', 0], index=Start_RunExp.columns),
                pd.Series(['011 3', 0], index=Start_RunExp.columns),
                pd.Series(['100 3', 0], index=Start_RunExp.columns),
                pd.Series(['101 3', 0], index=Start_RunExp.columns),
                pd.Series(['110 3', 0], index=Start_RunExp.columns),
                pd.Series(['111 3', 0], index=Start_RunExp.columns)]

In [53]:
Start_RunExp = Start_RunExp.append(Base_State_3, ignore_index=True)

End_RunExp = Start_RunExp.rename(columns={'Start_State':'End_State', 'Start_RE':'End_RE'})

C:\Users\mgy0003\AppData\Local\Temp\ipykernel_22768\1204712589.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Start_RunExp = Start_RunExp.append(Base_State_3, ignore_index=True)

In [54]:
RE17 = pd.merge(RE17, End_RunExp, on=['End_State'], how='left')
display(RE17)

,batterName,batterId,event,start1B,start2B,start3B,end1B,end2B,end3B,startOuts,...,Start1,Start2,Start3,Start_State,End1,End2,End3,End_State,Start_RE,End_RE
0,Gardner,458731,Flyout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,000 0,0,0,0,000 1,0.516375,0.272176
1,"Sanchez, G",596142,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,000 1,0,0,0,000 2,0.272176,0.108038
2,Bird,595885,Walk,NaN,NaN,NaN,595885.0,NaN,NaN,2,...,0,0,0,000 2,1,0,0,100 2,0.108038,0.225365
3,Holliday,407812,Groundout,595885.0,NaN,NaN,NaN,NaN,NaN,2,...,1,0,0,100 2,0,0,0,000 3,0.225365,0.000000
4,"Dickerson, C",572816,Single,NaN,NaN,NaN,572816.0,NaN,NaN,0,...,0,0,0,000 0,1,0,0,100 0,0.516375,0.912921
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184746,Vincej,572227,Runner Out,571740.0,608385.0,NaN,NaN,NaN,NaN,2,...,1,1,0,110 2,0,0,0,000 3,0.449782,0.000000
184747,"Davis, T",543089,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,000 0,0,0,0,000 1,0.516375,0.272176
184748,Almora Jr.,546991,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,000 1,0,0,0,000 1,0.272176,0.272176
184749,Freeman,502273,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,000 1,0,0,0,000 2,0.272176,0.108038
184750,Zobrist,450314,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,2,...,0,0,0,000 2,0,0,0,000 3,0.108038,0.000000

In [55]:
RE17['Run_Value'] = RE17['runsOnPlay'] + RE17['End_RE'] - RE17['Start_RE']

display(RE17)

,batterName,batterId,event,start1B,start2B,start3B,end1B,end2B,end3B,startOuts,...,Start2,Start3,Start_State,End1,End2,End3,End_State,Start_RE,End_RE,Run_Value
0,Gardner,458731,Flyout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,000 0,0,0,0,000 1,0.516375,0.272176,-0.244199
1,"Sanchez, G",596142,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,000 1,0,0,0,000 2,0.272176,0.108038,-0.164138
2,Bird,595885,Walk,NaN,NaN,NaN,595885.0,NaN,NaN,2,...,0,0,000 2,1,0,0,100 2,0.108038,0.225365,0.117327
3,Holliday,407812,Groundout,595885.0,NaN,NaN,NaN,NaN,NaN,2,...,0,0,100 2,0,0,0,000 3,0.225365,0.000000,-0.225365
4,"Dickerson, C",572816,Single,NaN,NaN,NaN,572816.0,NaN,NaN,0,...,0,0,000 0,1,0,0,100 0,0.516375,0.912921,0.396546
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184746,Vincej,572227,Runner Out,571740.0,608385.0,NaN,NaN,NaN,NaN,2,...,1,0,110 2,0,0,0,000 3,0.449782,0.000000,-0.449782
184747,"Davis, T",543089,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,000 0,0,0,0,000 1,0.516375,0.272176,-0.244199
184748,Almora Jr.,546991,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,000 1,0,0,0,000 1,0.272176,0.272176,1.000000
184749,Freeman,502273,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,000 1,0,0,0,000 2,0.272176,0.108038,-0.164138
184750,Zobrist,450314,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,2,...,0,0,000 2,0,0,0,000 3,0.108038,0.000000,-0.108038

In [56]:
### Work for Quiz 1 Starts here ###

In [57]:
print(RE17.columns.tolist())

['batterName', 'batterId', 'event', 'start1B', 'start2B', 'start3B', 'end1B', 'end2B', 'end3B', 'startOuts', 'endOuts', 'runsFuture', 'runsOnPlay', 'outsInInning', 'stand', 'throws', 'venueId', 'stadium', 'batterPos', 'Start1', 'Start2', 'Start3', 'Start_State', 'End1', 'End2', 'End3', 'End_State', 'Start_RE', 'End_RE', 'Run_Value']

In [58]:
# Flyout Percentage
Flyouts = RE17['event'][RE17.event == 'Flyout'].count()
Events  = RE17['event'].count()

print((Flyouts/Events)*100, '%')

10.697100421648598 %

In [59]:
# Bases Loaded Rate
B_Load = RE17[(RE17.Start_State == '111 0') | (RE17.Start_State == '111 1') | (RE17.Start_State == '111 2')]
print(B_Load['Start_State'].count())

4364

In [60]:
# Strikeouts by Position
Strikeouts = RE17[RE17.event == 'Strikeout']

Position = Strikeouts.groupby(['batterPos'])['event'].count().reset_index()
Position = Position.sort_values(by=['event'],  ascending=False)
Position

   batterPos  event
0         1B   4399
9         RF   4386
4         CF   4374
6         LF   4317
3          C   4090
2         3B   4023
10        SS   3734
1         2B   3710
11        UN   2594
5         DH   2354
7          P   1872
8         PH      1

# II. Coding Run Expectancy Dataset (2016)

In [61]:
# Read in MLBAM Data for 2016

MLBAM16 = pd.read_csv("D:\\GitHub\\Coursera\\SportsPerformanceAnalytics\\MoneyBallAndBeyond\\data\\MLBAM16.csv")

In [62]:
#Your Code Here
MLBAM16.drop(['Unnamed: 0'], axis=1, inplace=True)

RE16 = MLBAM16[['batterName','batterId','event', 'start1B', 'start2B', 'start3B', 'end1B', 'end2B', 'end3B',\
                   'startOuts','endOuts','runsFuture','runsOnPlay','outsInInning',\
                   'stand', 'throws','venueId', 'stadium', 'batterPos']].copy()

display(RE16)

,batterName,batterId,event,start1B,start2B,start3B,end1B,end2B,end3B,startOuts,endOuts,runsFuture,runsOnPlay,outsInInning,stand,throws,venueId,stadium,batterPos
0,"Carpenter, M",572761,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,L,L,31,PNC Park,3B
1,Pham,502054,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0,0,3,R,L,31,PNC Park,LF
2,Holliday,407812,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,R,L,31,PNC Park,1B
3,Jaso,444379,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,L,R,31,PNC Park,1B
4,McCutchen,457705,Hit By Pitch,NaN,NaN,NaN,457705.0,NaN,NaN,1,1,0,0,3,R,R,31,PNC Park,CF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184930,Moss,461235,Strikeout,594824.0,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,L,R,2889,Busch Stadium,LF
184931,"Rogers, J",595386,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,L,2889,Busch Stadium,UN
184932,Jaso,444379,Walk,NaN,NaN,NaN,444379.0,NaN,NaN,1,1,0,0,3,L,L,2889,Busch Stadium,1B
184933,"Polanco, G",570256,Strikeout,444379.0,NaN,NaN,444379.0,NaN,NaN,1,2,0,0,3,L,L,2889,Busch Stadium,RF
184934,McCutchen,457705,Groundout,444379.0,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,R,L,2889,Busch Stadium,CF

In [63]:
RE16['Start1'] = np.where(pd.isnull(RE16['start1B']),0,1)
RE16['Start2'] = np.where(pd.isnull(RE16['start2B']),0,1)
RE16['Start3'] = np.where(pd.isnull(RE16['start3B']),0,1)
RE16

,batterName,batterId,event,start1B,start2B,start3B,end1B,end2B,end3B,startOuts,...,runsOnPlay,outsInInning,stand,throws,venueId,stadium,batterPos,Start1,Start2,Start3
0,"Carpenter, M",572761,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,3,L,L,31,PNC Park,3B,0,0,0
1,Pham,502054,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,3,R,L,31,PNC Park,LF,0,0,0
2,Holliday,407812,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,2,...,0,3,R,L,31,PNC Park,1B,0,0,0
3,Jaso,444379,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,3,L,R,31,PNC Park,1B,0,0,0
4,McCutchen,457705,Hit By Pitch,NaN,NaN,NaN,457705.0,NaN,NaN,1,...,0,3,R,R,31,PNC Park,CF,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184930,Moss,461235,Strikeout,594824.0,NaN,NaN,NaN,NaN,NaN,2,...,0,3,L,R,2889,Busch Stadium,LF,1,0,0
184931,"Rogers, J",595386,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,3,R,L,2889,Busch Stadium,UN,0,0,0
184932,Jaso,444379,Walk,NaN,NaN,NaN,444379.0,NaN,NaN,1,...,0,3,L,L,2889,Busch Stadium,1B,0,0,0
184933,"Polanco, G",570256,Strikeout,444379.0,NaN,NaN,444379.0,NaN,NaN,1,...,0,3,L,L,2889,Busch Stadium,RF,1,0,0
184934,McCutchen,457705,Groundout,444379.0,NaN,NaN,NaN,NaN,NaN,2,...,0,3,R,L,2889,Busch Stadium,CF,1,0,0

In [64]:
RE16['Start_State'] = (RE16['Start1'].astype(str) + RE16['Start2'].astype(str) + RE16['Start3'].astype(str)+\
                          " " + RE16['startOuts'].astype(str))

RE16

,batterName,batterId,event,start1B,start2B,start3B,end1B,end2B,end3B,startOuts,...,outsInInning,stand,throws,venueId,stadium,batterPos,Start1,Start2,Start3,Start_State
0,"Carpenter, M",572761,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,3,L,L,31,PNC Park,3B,0,0,0,000 0
1,Pham,502054,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,...,3,R,L,31,PNC Park,LF,0,0,0,000 1
2,Holliday,407812,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,2,...,3,R,L,31,PNC Park,1B,0,0,0,000 2
3,Jaso,444379,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,3,L,R,31,PNC Park,1B,0,0,0,000 0
4,McCutchen,457705,Hit By Pitch,NaN,NaN,NaN,457705.0,NaN,NaN,1,...,3,R,R,31,PNC Park,CF,0,0,0,000 1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184930,Moss,461235,Strikeout,594824.0,NaN,NaN,NaN,NaN,NaN,2,...,3,L,R,2889,Busch Stadium,LF,1,0,0,100 2
184931,"Rogers, J",595386,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,3,R,L,2889,Busch Stadium,UN,0,0,0,000 0
184932,Jaso,444379,Walk,NaN,NaN,NaN,444379.0,NaN,NaN,1,...,3,L,L,2889,Busch Stadium,1B,0,0,0,000 1
184933,"Polanco, G",570256,Strikeout,444379.0,NaN,NaN,444379.0,NaN,NaN,1,...,3,L,L,2889,Busch Stadium,RF,1,0,0,100 1
184934,McCutchen,457705,Groundout,444379.0,NaN,NaN,NaN,NaN,NaN,2,...,3,R,L,2889,Busch Stadium,CF,1,0,0,100 2

In [65]:
RE16['End1'] = np.where(pd.isnull(RE16['end1B']),0,1)
RE16['End2'] = np.where(pd.isnull(RE16['end2B']),0,1)
RE16['End3'] = np.where(pd.isnull(RE16['end3B']),0,1)
RE16

,batterName,batterId,event,start1B,start2B,start3B,end1B,end2B,end3B,startOuts,...,venueId,stadium,batterPos,Start1,Start2,Start3,Start_State,End1,End2,End3
0,"Carpenter, M",572761,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,31,PNC Park,3B,0,0,0,000 0,0,0,0
1,Pham,502054,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,...,31,PNC Park,LF,0,0,0,000 1,0,0,0
2,Holliday,407812,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,2,...,31,PNC Park,1B,0,0,0,000 2,0,0,0
3,Jaso,444379,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,31,PNC Park,1B,0,0,0,000 0,0,0,0
4,McCutchen,457705,Hit By Pitch,NaN,NaN,NaN,457705.0,NaN,NaN,1,...,31,PNC Park,CF,0,0,0,000 1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184930,Moss,461235,Strikeout,594824.0,NaN,NaN,NaN,NaN,NaN,2,...,2889,Busch Stadium,LF,1,0,0,100 2,0,0,0
184931,"Rogers, J",595386,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,2889,Busch Stadium,UN,0,0,0,000 0,0,0,0
184932,Jaso,444379,Walk,NaN,NaN,NaN,444379.0,NaN,NaN,1,...,2889,Busch Stadium,1B,0,0,0,000 1,1,0,0
184933,"Polanco, G",570256,Strikeout,444379.0,NaN,NaN,444379.0,NaN,NaN,1,...,2889,Busch Stadium,RF,1,0,0,100 1,1,0,0
184934,McCutchen,457705,Groundout,444379.0,NaN,NaN,NaN,NaN,NaN,2,...,2889,Busch Stadium,CF,1,0,0,100 2,0,0,0

In [66]:
RE16['End_State'] = (RE16['End1'].astype(str) + RE16['End2'].astype(str) + RE16['End3'].astype(str)+\
                          " " + RE16['endOuts'].astype(str))

In [67]:
RE16 = RE16[((RE16.Start_State != RE16.End_State) | (RE16.runsOnPlay > 0)) & (RE16.outsInInning == 3)]
display(RE16)

,batterName,batterId,event,start1B,start2B,start3B,end1B,end2B,end3B,startOuts,...,stadium,batterPos,Start1,Start2,Start3,Start_State,End1,End2,End3,End_State
0,"Carpenter, M",572761,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,PNC Park,3B,0,0,0,000 0,0,0,0,000 1
1,Pham,502054,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,...,PNC Park,LF,0,0,0,000 1,0,0,0,000 2
2,Holliday,407812,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,2,...,PNC Park,1B,0,0,0,000 2,0,0,0,000 3
3,Jaso,444379,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,PNC Park,1B,0,0,0,000 0,0,0,0,000 1
4,McCutchen,457705,Hit By Pitch,NaN,NaN,NaN,457705.0,NaN,NaN,1,...,PNC Park,CF,0,0,0,000 1,1,0,0,100 1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184930,Moss,461235,Strikeout,594824.0,NaN,NaN,NaN,NaN,NaN,2,...,Busch Stadium,LF,1,0,0,100 2,0,0,0,000 3
184931,"Rogers, J",595386,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,Busch Stadium,UN,0,0,0,000 0,0,0,0,000 1
184932,Jaso,444379,Walk,NaN,NaN,NaN,444379.0,NaN,NaN,1,...,Busch Stadium,1B,0,0,0,000 1,1,0,0,100 1
184933,"Polanco, G",570256,Strikeout,444379.0,NaN,NaN,444379.0,NaN,NaN,1,...,Busch Stadium,RF,1,0,0,100 1,1,0,0,100 2
184934,McCutchen,457705,Groundout,444379.0,NaN,NaN,NaN,NaN,NaN,2,...,Busch Stadium,CF,1,0,0,100 2,0,0,0,000 3

In [68]:
Start_RunExp = RE16.groupby(['Start_State'])['runsFuture'].mean().reset_index().rename(columns={'runsFuture':'Start_RE'})
RE16 = pd.merge(RE16, Start_RunExp, on=['Start_State'], how='left')
display(RE16)

,batterName,batterId,event,start1B,start2B,start3B,end1B,end2B,end3B,startOuts,...,batterPos,Start1,Start2,Start3,Start_State,End1,End2,End3,End_State,Start_RE
0,"Carpenter, M",572761,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,3B,0,0,0,000 0,0,0,0,000 1,0.498377
1,Pham,502054,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,...,LF,0,0,0,000 1,0,0,0,000 2,0.268678
2,Holliday,407812,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,2,...,1B,0,0,0,000 2,0,0,0,000 3,0.106305
3,Jaso,444379,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,1B,0,0,0,000 0,0,0,0,000 1,0.498377
4,McCutchen,457705,Hit By Pitch,NaN,NaN,NaN,457705.0,NaN,NaN,1,...,CF,0,0,0,000 1,1,0,0,100 1,0.268678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184147,Moss,461235,Strikeout,594824.0,NaN,NaN,NaN,NaN,NaN,2,...,LF,1,0,0,100 2,0,0,0,000 3,0.220539
184148,"Rogers, J",595386,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,UN,0,0,0,000 0,0,0,0,000 1,0.498377
184149,Jaso,444379,Walk,NaN,NaN,NaN,444379.0,NaN,NaN,1,...,1B,0,0,0,000 1,1,0,0,100 1,0.268678
184150,"Polanco, G",570256,Strikeout,444379.0,NaN,NaN,444379.0,NaN,NaN,1,...,RF,1,0,0,100 1,1,0,0,100 2,0.512225
184151,McCutchen,457705,Groundout,444379.0,NaN,NaN,NaN,NaN,NaN,2,...,CF,1,0,0,100 2,0,0,0,000 3,0.220539

In [69]:
Base_State_3 = [pd.Series(['000 3', 0], index=Start_RunExp.columns),
                pd.Series(['001 3', 0], index=Start_RunExp.columns),
                pd.Series(['010 3', 0], index=Start_RunExp.columns),
                pd.Series(['011 3', 0], index=Start_RunExp.columns),
                pd.Series(['100 3', 0], index=Start_RunExp.columns),
                pd.Series(['101 3', 0], index=Start_RunExp.columns),
                pd.Series(['110 3', 0], index=Start_RunExp.columns),
                pd.Series(['111 3', 0], index=Start_RunExp.columns)]

In [70]:
Start_RunExp = Start_RunExp.append(Base_State_3, ignore_index=True)

End_RunExp = Start_RunExp.rename(columns={'Start_State':'End_State', 'Start_RE':'End_RE'})

C:\Users\mgy0003\AppData\Local\Temp\ipykernel_22768\1204712589.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Start_RunExp = Start_RunExp.append(Base_State_3, ignore_index=True)

In [71]:
RE16 = pd.merge(RE16, End_RunExp, on=['End_State'], how='left')
display(RE16)

,batterName,batterId,event,start1B,start2B,start3B,end1B,end2B,end3B,startOuts,...,Start1,Start2,Start3,Start_State,End1,End2,End3,End_State,Start_RE,End_RE
0,"Carpenter, M",572761,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,000 0,0,0,0,000 1,0.498377,0.268678
1,Pham,502054,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,000 1,0,0,0,000 2,0.268678,0.106305
2,Holliday,407812,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,2,...,0,0,0,000 2,0,0,0,000 3,0.106305,0.000000
3,Jaso,444379,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,000 0,0,0,0,000 1,0.498377,0.268678
4,McCutchen,457705,Hit By Pitch,NaN,NaN,NaN,457705.0,NaN,NaN,1,...,0,0,0,000 1,1,0,0,100 1,0.268678,0.512225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184147,Moss,461235,Strikeout,594824.0,NaN,NaN,NaN,NaN,NaN,2,...,1,0,0,100 2,0,0,0,000 3,0.220539,0.000000
184148,"Rogers, J",595386,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,000 0,0,0,0,000 1,0.498377,0.268678
184149,Jaso,444379,Walk,NaN,NaN,NaN,444379.0,NaN,NaN,1,...,0,0,0,000 1,1,0,0,100 1,0.268678,0.512225
184150,"Polanco, G",570256,Strikeout,444379.0,NaN,NaN,444379.0,NaN,NaN,1,...,1,0,0,100 1,1,0,0,100 2,0.512225,0.220539
184151,McCutchen,457705,Groundout,444379.0,NaN,NaN,NaN,NaN,NaN,2,...,1,0,0,100 2,0,0,0,000 3,0.220539,0.000000

In [72]:
RE16['Run_Value'] = RE16['runsOnPlay'] + RE16['End_RE'] - RE16['Start_RE']

display(RE16)

,batterName,batterId,event,start1B,start2B,start3B,end1B,end2B,end3B,startOuts,...,Start2,Start3,Start_State,End1,End2,End3,End_State,Start_RE,End_RE,Run_Value
0,"Carpenter, M",572761,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,000 0,0,0,0,000 1,0.498377,0.268678,-0.229699
1,Pham,502054,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,000 1,0,0,0,000 2,0.268678,0.106305,-0.162373
2,Holliday,407812,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,2,...,0,0,000 2,0,0,0,000 3,0.106305,0.000000,-0.106305
3,Jaso,444379,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,000 0,0,0,0,000 1,0.498377,0.268678,-0.229699
4,McCutchen,457705,Hit By Pitch,NaN,NaN,NaN,457705.0,NaN,NaN,1,...,0,0,000 1,1,0,0,100 1,0.268678,0.512225,0.243547
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184147,Moss,461235,Strikeout,594824.0,NaN,NaN,NaN,NaN,NaN,2,...,0,0,100 2,0,0,0,000 3,0.220539,0.000000,-0.220539
184148,"Rogers, J",595386,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,000 0,0,0,0,000 1,0.498377,0.268678,-0.229699
184149,Jaso,444379,Walk,NaN,NaN,NaN,444379.0,NaN,NaN,1,...,0,0,000 1,1,0,0,100 1,0.268678,0.512225,0.243547
184150,"Polanco, G",570256,Strikeout,444379.0,NaN,NaN,444379.0,NaN,NaN,1,...,0,0,100 1,1,0,0,100 2,0.512225,0.220539,-0.291686
184151,McCutchen,457705,Groundout,444379.0,NaN,NaN,NaN,NaN,NaN,2,...,0,0,100 2,0,0,0,000 3,0.220539,0.000000,-0.220539

In [73]:
### Quiz 2 Work Starts Here ###

In [74]:
# Flyout Percentage
Groundouts = RE16['event'][RE16.event == 'Groundout'].count()
Events  = RE16['event'].count()

print((Groundouts/Events)*100, '%')

18.445088839654197 %

In [75]:
# Bases Loaded Rate
B_One = RE16[(RE16.Start_State != '000 0') & (RE16.Start_State != '000 1') & (RE16.Start_State != '000 2')]
print(B_One['Start_State'].count())

80387

In [76]:
# Strikeouts by Position
Strikeouts = RE16[RE16.event == 'Home Run']

Position = Strikeouts.groupby(['batterPos'])['event'].count().reset_index()
Position = Position.sort_values(by=['event'],  ascending=False)
Position

   batterPos  event
0         1B    797
2         3B    710
8         RF    694
1         2B    576
6         LF    576
3          C    541
4         CF    532
9         SS    486
5         DH    424
10        UN    178
7          P     22

# III. Comparing 2016 vs. 2017

In [85]:
Event_Value16 = RE16.groupby(['event'])['Run_Value'].mean().reset_index()
Event_Value17 = RE17.groupby(['event'])['Run_Value'].mean().reset_index()

In [86]:
Event_Value16 = Event_Value16.rename(columns={'Run_Value':'Run_Value16'})
Event_Value17 = Event_Value17.rename(columns={'Run_Value':'Run_Value17'})

In [87]:
Event_Value16.sort_values(by=['Run_Value16'],  ascending=False)

                   event  Run_Value16
16              Home Run     1.382476
28                Triple     1.023911
5                 Double     0.743467
9        Fielders Choice     0.701447
7       Fan interference     0.533316
8            Field Error     0.469989
25                Single     0.440258
15          Hit By Pitch     0.320569
4   Catcher Interference     0.301623
30                  Walk     0.299404
17           Intent Walk     0.172551
22               Sac Fly     0.023233
21              Sac Bunt    -0.126691
14             Groundout    -0.212992
1         Bunt Groundout    -0.218826
11                Flyout    -0.247896
18               Lineout    -0.248542
20            Runner Out    -0.257904
26             Strikeout    -0.259940
19               Pop Out    -0.267062
0    Batter Interference    -0.284649
12              Forceout    -0.326657
3           Bunt Pop Out    -0.342802
2           Bunt Lineout    -0.352295
23            Sac Fly DP    -0.370443
10   Fielders Choice Out    -0.610757
27        Strikeout - DP    -0.622787
24     Sacrifice Bunt DP    -0.752199
13      Grounded Into DP    -0.773318
6            Double Play    -0.864981
29           Triple Play    -1.637543

In [88]:
Event_Value17.sort_values(by=['Run_Value17'],  ascending=False)

                   event  Run_Value17
16              Home Run     1.378739
27                Triple     1.063607
5                 Double     0.779338
9        Fielders Choice     0.764112
7       Fan interference     0.590743
8            Field Error     0.493206
24                Single     0.455773
4   Catcher Interference     0.399070
15          Hit By Pitch     0.338679
29                  Walk     0.322635
17           Intent Walk     0.180109
22               Sac Fly    -0.032119
21              Sac Bunt    -0.109283
1         Bunt Groundout    -0.209411
14             Groundout    -0.224579
18               Lineout    -0.259682
11                Flyout    -0.262548
25             Strikeout    -0.269985
20            Runner Out    -0.274991
19               Pop Out    -0.283498
2           Bunt Lineout    -0.328292
12              Forceout    -0.345347
3           Bunt Pop Out    -0.373225
0    Batter Interference    -0.430019
23            Sac Fly DP    -0.543715
10   Fielders Choice Out    -0.662400
26        Strikeout - DP    -0.682819
13      Grounded Into DP    -0.818005
6            Double Play    -0.897164
28           Triple Play    -1.471223

In [93]:
Events = pd.merge(Event_Value16,Event_Value17, on='event')
Events

                   event  Run_Value16  Run_Value17
0    Batter Interference    -0.284649    -0.430019
1         Bunt Groundout    -0.218826    -0.209411
2           Bunt Lineout    -0.352295    -0.328292
3           Bunt Pop Out    -0.342802    -0.373225
4   Catcher Interference     0.301623     0.399070
5                 Double     0.743467     0.779338
6            Double Play    -0.864981    -0.897164
7       Fan interference     0.533316     0.590743
8            Field Error     0.469989     0.493206
9        Fielders Choice     0.701447     0.764112
10   Fielders Choice Out    -0.610757    -0.662400
11                Flyout    -0.247896    -0.262548
12              Forceout    -0.326657    -0.345347
13      Grounded Into DP    -0.773318    -0.818005
14             Groundout    -0.212992    -0.224579
15          Hit By Pitch     0.320569     0.338679
16              Home Run     1.382476     1.378739
17           Intent Walk     0.172551     0.180109
18               Lineout    -0.248542    -0.259682
19               Pop Out    -0.267062    -0.283498
20            Runner Out    -0.257904    -0.274991
21              Sac Bunt    -0.126691    -0.109283
22               Sac Fly     0.023233    -0.032119
23            Sac Fly DP    -0.370443    -0.543715
24                Single     0.440258     0.455773
25             Strikeout    -0.259940    -0.269985
26        Strikeout - DP    -0.622787    -0.682819
27                Triple     1.023911     1.063607
28           Triple Play    -1.637543    -1.471223
29                  Walk     0.299404     0.322635

In [89]:
Player_Value16 = RE16.groupby(['batterName'])['Run_Value'].sum().reset_index()
Player_Value17 = RE17.groupby(['batterName'])['Run_Value'].sum().reset_index()

Player_Value16 = Player_Value16.rename(columns={'Run_Value':'Run_Value16'})
Player_Value17 = Player_Value17.rename(columns={'Run_Value':'Run_Value17'})

In [90]:
Player_Value16.sort_values(by=['Run_Value16'],  ascending=False)

      batterName  Run_Value16
880        Trout    68.143360
627        Ortiz    60.938730
33       Arenado    48.979171
217    Donaldson    48.510824
586    Murphy, D    48.234104
..           ...          ...
808        Shuck   -23.297166
102        Burns   -23.335961
245   Escobar, A   -26.555530
611   Norris, De   -26.841250
370  Hechavarria   -32.142529

[964 rows x 2 columns]

In [91]:
Player_Value17.sort_values(by=['Run_Value17'],  ascending=False)

       batterName  Run_Value17
909         Votto    67.650742
87       Blackmon    62.032793
445         Judge    57.081625
37        Arenado    56.111576
331   Goldschmidt    56.078941
..            ...          ...
672       Plouffe   -29.004223
751      Saladino   -29.484769
29   Anderson, Ti   -29.855271
372      Hamilton   -30.668233
619          Odor   -36.464351

[962 rows x 2 columns]

In [94]:
Player_Value = pd.merge(Player_Value16,Player_Value17,on='batterName')
Player_Value

      batterName  Run_Value16  Run_Value17
0          Abreu    13.395343    31.392604
1         Adames   -12.866394    -2.872021
2          Adams     4.063644     9.681144
3        Adleman     0.713572    -5.242051
4       Adrianza    -3.300578     0.425352
..           ...          ...          ...
686       Zunino     8.816774     4.710472
687     d'Arnaud   -10.768827    -7.884709
688  d'Arnaud, T   -12.314196    -2.301919
689       deGrom    -8.532559    -9.500759
690   den Dekker     0.085717    -1.647911

[691 rows x 3 columns]

In [ ]:
### Quiz 3 Work Starts Here ###

In [96]:
# Difference in Event Value
Events['Diff'] = abs(Events['Run_Value17'] - Events['Run_Value16'])
Events.sort_values(by=['Diff'],  ascending=False)

                   event  Run_Value16  Run_Value17      Diff
23            Sac Fly DP    -0.370443    -0.543715  0.173272
28           Triple Play    -1.637543    -1.471223  0.166319
0    Batter Interference    -0.284649    -0.430019  0.145369
4   Catcher Interference     0.301623     0.399070  0.097447
9        Fielders Choice     0.701447     0.764112  0.062665
26        Strikeout - DP    -0.622787    -0.682819  0.060032
7       Fan interference     0.533316     0.590743  0.057427
22               Sac Fly     0.023233    -0.032119  0.055352
10   Fielders Choice Out    -0.610757    -0.662400  0.051643
13      Grounded Into DP    -0.773318    -0.818005  0.044687
27                Triple     1.023911     1.063607  0.039695
5                 Double     0.743467     0.779338  0.035870
6            Double Play    -0.864981    -0.897164  0.032183
3           Bunt Pop Out    -0.342802    -0.373225  0.030423
2           Bunt Lineout    -0.352295    -0.328292  0.024003
29                  Walk     0.299404     0.322635  0.023231
8            Field Error     0.469989     0.493206  0.023217
12              Forceout    -0.326657    -0.345347  0.018691
15          Hit By Pitch     0.320569     0.338679  0.018110
21              Sac Bunt    -0.126691    -0.109283  0.017409
20            Runner Out    -0.257904    -0.274991  0.017087
19               Pop Out    -0.267062    -0.283498  0.016436
24                Single     0.440258     0.455773  0.015515
11                Flyout    -0.247896    -0.262548  0.014652
14             Groundout    -0.212992    -0.224579  0.011588
18               Lineout    -0.248542    -0.259682  0.011140
25             Strikeout    -0.259940    -0.269985  0.010045
1         Bunt Groundout    -0.218826    -0.209411  0.009415
17           Intent Walk     0.172551     0.180109  0.007558
16              Home Run     1.382476     1.378739  0.003737

In [97]:
# Difference in Player Value
Player_Value['Diff'] = Player_Value['Run_Value17'] - Player_Value['Run_Value16']
Player_Value.sort_values(by=['Diff'],  ascending=False)

      batterName  Run_Value16  Run_Value17       Diff
312        Judge    -4.179157    57.081625  61.260782
683    Zimmerman   -22.942623    33.179676  56.122300
230  Gonzalez, M   -16.649256    35.951866  52.601121
595      Stanton    10.070038    51.784088  41.714049
121     Conforto    -3.607318    35.827160  39.434477
..           ...          ...          ...        ...
637       Trumbo    21.644283   -17.990412 -39.634695
82       Cabrera    37.520249    -4.336300 -41.856549
444         Odor    11.679587   -36.464351 -48.143938
498   Ramirez, H    30.676190   -19.461039 -50.137229
449        Ortiz    60.938730    -2.629789 -63.568519

[691 rows x 4 columns]