# I. Data Coding and Merging

In [46]:
# Load packages
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [47]:
# Load game logs data
Teams = pd.read_excel("D:\\GitHub\\Coursera\\SportsPerformanceAnalytics\\MoneyBallAndBeyond\\data\\Game logs 1999-2003.xlsx")

In [48]:
#Your Code Here
Teams['hwin'] = np.where(Teams['home_score'] > Teams['visitor_score'],1,0)
Teams['awin'] = np.where(Teams['home_score'] < Teams['visitor_score'],1,0)

In [49]:
Teams['year'] = Teams['date'].astype(str).str[0:4]
display(Teams)

,date,game_number,day,visitor,visitor_lg,visitor_game_number,home,home_lg,home_game_number,visitor_score,home_score,outs,daynight,completion,forfeit,protest,park,attendance,game_minutes,visitor_linescore,home_linescore,visitor_ab,visitor_h,visitor_2b,visitor_3b,...,home_batter_3_name,home_batter_3_pos,home_batter_4_id,home_batter_4_name,home_batter_4_pos,home_batter_5_id,home_batter_5_name,home_batter_5_pos,home_batter_6_id,home_batter_6_name,home_batter_6_pos,home_batter_7_id,home_batter_7_name,home_batter_7_pos,home_batter_8_id,home_batter_8_name,home_batter_8_pos,home_batter_9_id,home_batter_9_name,home_batter_9_pos,additional_info,acquisition,hwin,awin,year
0,19990404,0,Sun,COL,NL,1,SDN,NL,1,8,2,54,N,NaN,NaN,NaN,MNT01,27104,190,150001001,100000100,42,18,1,0,...,Tony Gwynn,9,joynw001,Wally Joyner,3,myerg001,Greg Myers,2,ariag001,George Arias,5,river002,Ruben Rivera,8,gomec001,Chris Gomez,6,ashba002,Andy Ashby,1,NaN,Y,0,1,1999
1,19990405,0,Mon,TBA,AL,1,BAL,AL,1,7,10,51,D,NaN,NaN,NaN,BAL12,46733,225,101111002,00420004x,38,12,3,0,...,Will Clark,3,bellj002,Albert Belle,9,conij001,Jeff Conine,10,ripkc001,Cal Ripken,5,surhb001,B.J. Surhoff,7,johnc002,Charles Johnson,2,reboj001,Jeff Reboulet,4,NaN,Y,1,0,1999
2,19990405,0,Mon,BOS,AL,1,KCA,AL,1,5,3,54,D,NaN,NaN,NaN,KAN06,40257,171,2002001,200000100,36,13,3,1,...,Johnny Damon,7,kingj001,Jeff King,3,suttl001,Larry Sutton,10,dye-j001,Jermaine Dye,9,kreuc001,Chad Kreuter,2,sancr001,Rey Sanchez,6,feblc001,Carlos Febles,4,NaN,Y,0,1,1999
3,19990405,0,Mon,NYA,AL,1,OAK,AL,1,3,5,48,N,NaN,NaN,NaN,OAK01,46380,160,10100010,2030,29,5,0,0,...,Jason Giambi,10,staim001,Matt Stairs,9,jahaj001,John Jaha,3,grieb001,Ben Grieve,7,chave001,Eric Chavez,5,hinca001,A.J. Hinch,2,tejam001,Miguel Tejada,6,NaN,Y,1,0,1999
4,19990405,0,Mon,CHA,AL,1,SEA,AL,1,8,2,54,N,NaN,NaN,NaN,SEA02,51656,154,100122200,2000000,36,12,2,1,...,Ken Griffey,8,marte001,Edgar Martinez,10,segud001,David Segui,3,buhnj001,Jay Buhner,9,mabrj001,John Mabry,7,davir002,Russ Davis,5,wilsd001,Dan Wilson,2,NaN,Y,0,1,1999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12137,20030928,0,Sun,NYN,NL,161,FLO,NL,162,0,4,51,D,NaN,NaN,NaN,MIA01,27529,132,0,10300000x,31,4,0,0,...,Mike Lowell,5,lee-d002,Derrek Lee,3,encaj001,Juan Encarnacion,9,conij001,Jeff Conine,7,gonza002,Alex Gonzalez,6,redmm001,Mike Redmond,2,willd003,Dontrelle Willis,1,NaN,Y,1,0,2003
12138,20030928,0,Sun,MIL,NL,162,HOU,NL,162,5,8,51,D,NaN,NaN,NaN,HOU03,37977,152,100001012,10320020x,36,8,4,1,...,Jeff Bagwell,3,kentj001,Jeff Kent,4,hidar001,Richard Hidalgo,9,berkl001,Lance Berkman,7,ausmb001,Brad Ausmus,2,evera001,Adam Everett,6,saark001,Kirk Saarloos,1,NaN,Y,1,0,2003
12139,20030928,0,Sun,ATL,NL,162,PHI,NL,162,5,2,54,D,NaN,NaN,NaN,PHI12,58554,171,10310000,101000000,36,13,3,0,...,Bobby Abreu,9,thomj002,Jim Thome,3,liebm001,Mike Lieberthal,2,burrp001,Pat Burrell,7,utlec001,Chase Utley,4,peret003,Tomas Perez,5,millk004,Kevin Millwood,1,NaN,Y,0,1,2003
12140,20030928,0,Sun,COL,NL,162,SDN,NL,162,10,8,54,D,NaN,NaN,NaN,SAN01,60988,184,30000520,100130210,37,11,1,0,...,Brian Giles,7,nevip001,Phil Nevin,3,kotsm001,Mark Kotsay,8,nadyx001,Xavier Nady,9,greek002,Khalil Greene,6,benng001,Gary Bennett,2,peavj001,Jake Peavy,1,NaN,Y,0,1,2003
12141,20030928,0,Sun,LAN,NL,162,SFN,NL,161,3,12,51,D,NaN,NaN,NaN,SFO03,42142,163,110100000,52000302x,35,9,3,0,...,Rich Aurilia,6,bondb001,Barry Bonds,7,alfoe001,Edgardo Alfonzo,5,hammj001,Jeffrey Hammonds,8,cruzj004,Jose Cruz,9,torry001,Yorvit Torrealba,2,corrk001,Kevin Correia,1,NaN,Y,1,0,2003

In [50]:
Teamshome = Teams.groupby(['home','year'])['visitor_ab', 'visitor_h', 'visitor_2b', 'visitor_3b', 'visitor_hr', 'visitor_sf',
                                           'visitor_hbp','visitor_bb','home_ab', 'home_h', 'home_2b', 'home_3b',
                                           'home_hr', 'home_sf', 'home_hbp', 'home_bb', 'hwin','awin'].sum()
Teamshome = Teamshome.reset_index()
Teamshome = Teamshome.rename(columns = {"home": "Team"}) 
Teamshome

C:\Users\mgy0003\AppData\Local\Temp\ipykernel_17924\276497674.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  Teamshome = Teams.groupby(['home','year'])['visitor_ab', 'visitor_h', 'visitor_2b', 'visitor_3b', 'visitor_hr', 'visitor_sf',

,Team,year,visitor_ab,visitor_h,visitor_2b,visitor_3b,visitor_hr,visitor_sf,visitor_hbp,visitor_bb,home_ab,home_h,home_2b,home_3b,home_hr,home_sf,home_hbp,home_bb,hwin,awin
0,ANA,1999,2832,762,151,10,105,39,27,322,2666,669,118,13,74,21,23,267,37,44
1,ANA,2000,2867,800,144,8,113,24,15,320,2742,788,146,11,130,23,24,315,46,35
2,ANA,2001,2873,772,165,6,86,20,39,259,2736,731,122,12,86,29,30,251,39,42
3,ANA,2002,2799,685,132,5,70,29,22,260,2757,769,155,21,71,27,34,228,54,27
4,ANA,2003,2868,743,142,9,84,17,39,245,2685,717,135,17,68,22,27,226,45,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,TOR,1999,2891,817,190,11,93,31,25,289,2731,765,173,6,96,21,44,283,40,41
146,TOR,2000,2910,819,182,11,92,19,30,279,2766,768,178,9,134,12,33,255,45,36
147,TOR,2001,2911,800,207,17,84,25,46,264,2809,757,146,14,94,31,37,256,40,42
148,TOR,2002,2838,749,171,10,89,28,37,288,2729,734,164,20,102,24,30,258,42,39
149,TOR,2003,2930,827,172,19,107,20,33,244,2763,779,191,16,94,28,40,284,41,40

In [51]:
Teamsaway = Teams.groupby(['year','visitor'])['visitor_ab', 'visitor_h', 'visitor_2b', 'visitor_3b', 
                                           'visitor_hr', 'visitor_sf', 'visitor_hbp', 'visitor_bb', 
                                           'home_ab', 'home_h', 'home_2b', 'home_3b', 'home_hr', 
                                           'home_sf', 'home_hbp', 'home_bb','hwin','awin'].sum()

Teamsaway = Teamsaway.reset_index()
Teamsaway = Teamsaway.rename(columns = {"visitor": "Team"}) 
Teamsaway

C:\Users\mgy0003\AppData\Local\Temp\ipykernel_17924\135563655.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  Teamsaway = Teams.groupby(['year','visitor'])['visitor_ab', 'visitor_h', 'visitor_2b', 'visitor_3b',

,year,Team,visitor_ab,visitor_h,visitor_2b,visitor_3b,visitor_hr,visitor_sf,visitor_hbp,visitor_bb,home_ab,home_h,home_2b,home_3b,home_hr,home_sf,home_hbp,home_bb,hwin,awin
0,1999,ANA,2828,735,130,9,84,21,20,244,2645,710,134,15,72,26,29,302,48,33
1,1999,ARI,2928,812,147,15,115,29,31,303,2751,694,123,12,92,14,22,287,33,48
2,1999,ATL,2901,777,151,14,111,19,31,322,2772,724,131,9,67,22,16,286,34,47
3,1999,BAL,2905,810,163,12,105,23,25,300,2638,708,157,19,97,22,19,318,44,37
4,1999,BOS,2857,758,157,22,96,27,25,292,2704,674,134,10,88,23,23,243,36,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,2003,SFN,2752,689,147,10,98,18,26,287,2590,657,124,12,75,26,23,285,37,43
146,2003,SLN,2914,781,159,21,111,30,34,300,2831,815,180,16,117,27,37,276,44,37
147,2003,TBA,2859,749,140,17,81,29,27,188,2663,719,163,17,100,30,32,317,54,27
148,2003,TEX,2877,708,133,13,99,15,41,242,2719,770,154,17,103,34,24,319,53,28
149,2003,TOR,2898,801,166,17,96,28,50,262,2730,733,128,23,77,18,24,241,36,45

In [52]:
Teams2 = pd.merge(Teamshome, Teamsaway, on =['Team','year'])
pd.set_option('display.max_columns', 50)
Teams2['wins'] = Teams2['hwin_x']+Teams2['awin_y']
display(Teams2)

,Team,year,visitor_ab_x,visitor_h_x,visitor_2b_x,visitor_3b_x,visitor_hr_x,visitor_sf_x,visitor_hbp_x,visitor_bb_x,home_ab_x,home_h_x,home_2b_x,home_3b_x,home_hr_x,home_sf_x,home_hbp_x,home_bb_x,hwin_x,awin_x,visitor_ab_y,visitor_h_y,visitor_2b_y,visitor_3b_y,visitor_hr_y,visitor_sf_y,visitor_hbp_y,visitor_bb_y,home_ab_y,home_h_y,home_2b_y,home_3b_y,home_hr_y,home_sf_y,home_hbp_y,home_bb_y,hwin_y,awin_y,wins
0,ANA,1999,2832,762,151,10,105,39,27,322,2666,669,118,13,74,21,23,267,37,44,2828,735,130,9,84,21,20,244,2645,710,134,15,72,26,29,302,48,33,70
1,ANA,2000,2867,800,144,8,113,24,15,320,2742,788,146,11,130,23,24,315,46,35,2886,786,163,23,106,20,23,293,2742,734,132,15,115,29,21,342,45,36,82
2,ANA,2001,2873,772,165,6,86,20,39,259,2736,731,122,12,86,29,30,251,39,42,2815,716,153,14,72,24,47,243,2656,680,120,13,82,19,25,266,45,36,75
3,ANA,2002,2799,685,132,5,70,29,22,260,2757,769,155,21,71,27,34,228,54,27,2921,834,178,11,81,37,40,234,2654,660,116,14,99,30,27,249,36,45,99
4,ANA,2003,2868,743,142,9,84,17,39,245,2685,717,135,17,68,22,27,226,45,37,2802,756,141,16,82,28,29,250,2664,701,118,18,106,25,37,241,48,32,77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,TOR,1999,2891,817,190,11,93,31,25,289,2731,765,173,6,96,21,44,283,40,41,2911,815,164,8,116,24,32,295,2753,765,135,22,98,26,28,286,37,44,84
146,TOR,2000,2910,819,182,11,92,19,30,279,2766,768,178,9,134,12,33,255,45,36,2911,794,150,12,110,22,27,271,2759,796,156,12,103,21,34,281,43,38,83
147,TOR,2001,2911,800,207,17,84,25,46,264,2809,757,146,14,94,31,37,256,40,42,2854,732,141,22,101,12,37,214,2738,753,150,9,81,18,30,226,40,40,80
148,TOR,2002,2838,749,171,10,89,28,37,288,2729,734,164,20,102,24,30,258,42,39,2852,723,141,18,85,33,23,264,2745,755,141,19,88,24,34,302,45,36,78
149,TOR,2003,2930,827,172,19,107,20,33,244,2763,779,191,16,94,28,40,284,41,40,2898,801,166,17,96,28,50,262,2730,733,128,23,77,18,24,241,36,45,86

In [53]:
Teams2.groupby(['year']).describe()

     visitor_ab_x                                                            \
            count         mean        std     min      25%     50%      75%
year
1999         30.0  2852.066667  57.784339  2772.0  2815.50  2832.5  2891.75
2000         30.0  2855.333333  59.787170  2726.0  2821.50  2850.0  2893.75
2001         30.0  2834.466667  59.896885  2715.0  2801.00  2837.0  2865.25
2002         30.0  2823.200000  56.149677  2722.0  2787.25  2824.0  2855.25
2003         30.0  2844.933333  74.717368  2681.0  2787.00  2851.0  2905.00

             visitor_h_x                                                       \
         max       count        mean        std    min     25%    50%     75%
year
1999  3005.0        30.0  766.233333  72.257052  671.0  706.00  759.0  827.50
2000  2964.0        30.0  761.500000  62.990284  643.0  725.25  756.5  800.75
2001  2995.0        30.0  737.966667  63.032823  612.0  698.00  733.0  775.00
2002  2971.0        30.0  726.266667  56.727986  626.0  692.50  721.0  753.50
2003  2957.0        30.0  737.400000  67.714207  598.0  686.00  739.0  792.25

            visitor_2b_x                                                       \
        max        count        mean        std    min     25%    50%     75%
year
1999  987.0         30.0  148.500000  23.073720  107.0  132.00  149.5  165.50
2000  896.0         30.0  150.000000  23.443255  116.0  131.25  148.0  163.25
2001  869.0         30.0  148.433333  25.683328  110.0  126.25  147.0  165.00
2002  873.0         30.0  147.266667  19.288970  109.0  132.50  145.5  163.25
2003  855.0         30.0  146.400000  23.133198   88.0  135.00  150.5  161.25

            visitor_3b_x  ... home_bb_y hwin_y                             \
        max        count  ...       max  count       mean       std   min
year                      ...
1999  194.0         30.0  ...     357.0   30.0  42.133333  6.896943  30.0
2000  208.0         30.0  ...     373.0   30.0  43.733333  5.789011  32.0
2001  207.0         30.0  ...     332.0   30.0  42.433333  7.744557  22.0
2002  183.0         30.0  ...     360.0   30.0  43.800000  8.663837  30.0
2003  197.0         30.0  ...     319.0   30.0  44.500000  7.084466  29.0

                               awin_y                                          \
        25%   50%    75%   max  count       mean       std   min    25%   50%
year
1999  36.25  44.0  47.75  53.0   30.0  38.766667  6.966339  28.0  33.00  37.0
2000  39.00  44.5  48.00  54.0   30.0  37.200000  5.749963  27.0  33.00  36.0
2001  37.50  42.0  48.00  57.0   30.0  38.500000  7.740400  24.0  32.25  39.0
2002  36.00  44.5  49.50  59.0   30.0  37.033333  8.612274  22.0  31.50  36.5
2003  39.00  44.0  49.75  61.0   30.0  36.466667  6.996222  20.0  31.25  37.0

                   wins
        75%   max count       mean        std   min    25%   50%    75%    max
year
1999  44.75  51.0  30.0  80.900000  12.515783  63.0  70.50  77.5  94.75  103.0
2000  42.00  49.0  30.0  80.933333   9.985967  65.0  72.25  82.0  89.25   97.0
2001  43.50  59.0  30.0  80.933333  13.006453  62.0  69.25  82.0  89.50  116.0
2002  45.00  51.0  30.0  80.833333  14.753336  55.0  72.00  79.5  93.75  103.0
2003  42.00  51.0  30.0  80.966667  13.366152  43.0  71.00  84.5  89.50  101.0

[5 rows x 296 columns]

In [54]:
Hits = Teams2.groupby('year')['home_h_x','visitor_h_y'].sum()
Hits['Total'] = Hits['home_h_x'] + Hits['visitor_h_y']
display(Hits)

C:\Users\mgy0003\AppData\Local\Temp\ipykernel_17924\101054861.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  Hits = Teams2.groupby('year')['home_h_x','visitor_h_y'].sum()

      home_h_x  visitor_h_y  Total
year
1999     22340        22987  45327
2000     22401        22845  45246
2001     21740        22139  43879
2002     21484        21788  43272
2003     21935        22122  44057

In [55]:
AB = Teams2.groupby('year')['visitor_ab_x','home_ab_y'].sum()
AB['Total'] = AB['visitor_ab_x'] + AB['home_ab_y']
AB['avg_ab'] = AB['Total']/162
display(AB)

C:\Users\mgy0003\AppData\Local\Temp\ipykernel_17924\486790055.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  AB = Teams2.groupby('year')['visitor_ab_x','home_ab_y'].sum()

      visitor_ab_x  home_ab_y   Total       avg_ab
year
1999         85562      81575  167137  1031.709877
2000         85660      81630  167290  1032.654321
2001         85034      81200  166234  1026.135802
2002         84696      80886  165582  1022.111111
2003         85348      81389  166737  1029.240741

In [56]:
Teams2

,Team,year,visitor_ab_x,visitor_h_x,visitor_2b_x,visitor_3b_x,visitor_hr_x,visitor_sf_x,visitor_hbp_x,visitor_bb_x,home_ab_x,home_h_x,home_2b_x,home_3b_x,home_hr_x,home_sf_x,home_hbp_x,home_bb_x,hwin_x,awin_x,visitor_ab_y,visitor_h_y,visitor_2b_y,visitor_3b_y,visitor_hr_y,visitor_sf_y,visitor_hbp_y,visitor_bb_y,home_ab_y,home_h_y,home_2b_y,home_3b_y,home_hr_y,home_sf_y,home_hbp_y,home_bb_y,hwin_y,awin_y,wins
0,ANA,1999,2832,762,151,10,105,39,27,322,2666,669,118,13,74,21,23,267,37,44,2828,735,130,9,84,21,20,244,2645,710,134,15,72,26,29,302,48,33,70
1,ANA,2000,2867,800,144,8,113,24,15,320,2742,788,146,11,130,23,24,315,46,35,2886,786,163,23,106,20,23,293,2742,734,132,15,115,29,21,342,45,36,82
2,ANA,2001,2873,772,165,6,86,20,39,259,2736,731,122,12,86,29,30,251,39,42,2815,716,153,14,72,24,47,243,2656,680,120,13,82,19,25,266,45,36,75
3,ANA,2002,2799,685,132,5,70,29,22,260,2757,769,155,21,71,27,34,228,54,27,2921,834,178,11,81,37,40,234,2654,660,116,14,99,30,27,249,36,45,99
4,ANA,2003,2868,743,142,9,84,17,39,245,2685,717,135,17,68,22,27,226,45,37,2802,756,141,16,82,28,29,250,2664,701,118,18,106,25,37,241,48,32,77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,TOR,1999,2891,817,190,11,93,31,25,289,2731,765,173,6,96,21,44,283,40,41,2911,815,164,8,116,24,32,295,2753,765,135,22,98,26,28,286,37,44,84
146,TOR,2000,2910,819,182,11,92,19,30,279,2766,768,178,9,134,12,33,255,45,36,2911,794,150,12,110,22,27,271,2759,796,156,12,103,21,34,281,43,38,83
147,TOR,2001,2911,800,207,17,84,25,46,264,2809,757,146,14,94,31,37,256,40,42,2854,732,141,22,101,12,37,214,2738,753,150,9,81,18,30,226,40,40,80
148,TOR,2002,2838,749,171,10,89,28,37,288,2729,734,164,20,102,24,30,258,42,39,2852,723,141,18,85,33,23,264,2745,755,141,19,88,24,34,302,45,36,78
149,TOR,2003,2930,827,172,19,107,20,33,244,2763,779,191,16,94,28,40,284,41,40,2898,801,166,17,96,28,50,262,2730,733,128,23,77,18,24,241,36,45,86

# II. Calculating Performance Metrics

In [57]:
#Your Code Here
Teams2['BAFOR'] = ((Teams2['home_h_x']+Teams2['visitor_h_y'])/
                    (Teams2['home_ab_x']+Teams2['visitor_ab_y']))

In [58]:
Teams2['BAAGN'] = ((Teams2['home_h_y']+Teams2['visitor_h_x'])/
                    (Teams2['home_ab_y']+Teams2['visitor_ab_x']))

In [59]:
Teams3 = Teams2[['year', 'Team', 'wins','BAFOR','BAAGN']]

In [60]:
TeamsGh = Teams.groupby(['year','home'])['hwin'].count()
TeamsGh = TeamsGh.reset_index()
TeamsGh = TeamsGh.rename(columns = {"home": 'Team',"hwin": 'hgames'}) 

TeamsGa = Teams.groupby(['year','visitor'])['awin'].count()
TeamsGa = TeamsGa.reset_index()
TeamsGa = TeamsGa.rename(columns = {"visitor": 'Team','awin':'agames'}) 

TeamsG = pd.merge(TeamsGh, TeamsGa, on =['Team','year'])
TeamsG['Games'] = TeamsG['hgames']+TeamsG['agames']
TeamsG = TeamsG[['year','Team','Games','hgames','agames']]
TeamsG

     year Team  Games  hgames  agames
0    1999  ANA    162      81      81
1    1999  ARI    162      81      81
2    1999  ATL    162      81      81
3    1999  BAL    162      81      81
4    1999  BOS    162      81      81
..    ...  ...    ...     ...     ...
145  2003  SFN    161      81      80
146  2003  SLN    162      81      81
147  2003  TBA    162      81      81
148  2003  TEX    162      81      81
149  2003  TOR    162      81      81

[150 rows x 5 columns]

In [61]:
TeamsGh2 = Teamshome[['year','Team','hwin']]

TeamsGa2 = Teamsaway[['year','Team','awin']]

TeamsG2 = pd.merge(TeamsGh2, TeamsGa2, on =['Team','year'])
#TeamsG = TeamsG[['year','Team','Games','hgames','agames']]
TeamsG2

     year Team  hwin  awin
0    1999  ANA    37    33
1    2000  ANA    46    36
2    2001  ANA    39    36
3    2002  ANA    54    45
4    2003  ANA    45    32
..    ...  ...   ...   ...
145  1999  TOR    40    44
146  2000  TOR    45    38
147  2001  TOR    40    40
148  2002  TOR    42    36
149  2003  TOR    41    45

[150 rows x 4 columns]

In [62]:
Teams3 = pd.merge(Teams3, TeamsG, on =['Team','year'])

In [63]:
Teams3

     year Team  wins     BAFOR     BAAGN  Games  hgames  agames
0    1999  ANA    70  0.255552  0.268760    162      81      81
1    2000  ANA    82  0.279673  0.273489    162      81      81
2    2001  ANA    75  0.260674  0.262615    162      81      81
3    2002  ANA    99  0.282318  0.246653    162      81      81
4    2003  ANA    77  0.268453  0.261027    162      82      80
..    ...  ...   ...       ...       ...    ...     ...     ...
145  1999  TOR    84  0.280043  0.280298    162      81      81
146  2000  TOR    83  0.275145  0.284883    162      81      81
147  2001  TOR    80  0.262935  0.274916    162      82      80
148  2002  TOR    78  0.261064  0.269389    162      81      81
149  2003  TOR    86  0.279103  0.275618    162      81      81

[150 rows x 8 columns]

In [64]:
Teams4 = pd.merge(Teams3, TeamsG2, on =['Team','year'])

In [65]:
Teams4

     year Team  wins     BAFOR     BAAGN  Games  hgames  agames  hwin  awin
0    1999  ANA    70  0.255552  0.268760    162      81      81    37    33
1    2000  ANA    82  0.279673  0.273489    162      81      81    46    36
2    2001  ANA    75  0.260674  0.262615    162      81      81    39    36
3    2002  ANA    99  0.282318  0.246653    162      81      81    54    45
4    2003  ANA    77  0.268453  0.261027    162      82      80    45    32
..    ...  ...   ...       ...       ...    ...     ...     ...   ...   ...
145  1999  TOR    84  0.280043  0.280298    162      81      81    40    44
146  2000  TOR    83  0.275145  0.284883    162      81      81    45    38
147  2001  TOR    80  0.262935  0.274916    162      82      80    40    40
148  2002  TOR    78  0.261064  0.269389    162      81      81    42    36
149  2003  TOR    86  0.279103  0.275618    162      81      81    41    45

[150 rows x 10 columns]

In [66]:
Teams4['wpc'] = Teams4['wins']/Teams4['Games']
Teams4

,year,Team,wins,BAFOR,BAAGN,Games,hgames,agames,hwin,awin,wpc
0,1999,ANA,70,0.255552,0.268760,162,81,81,37,33,0.432099
1,2000,ANA,82,0.279673,0.273489,162,81,81,46,36,0.506173
2,2001,ANA,75,0.260674,0.262615,162,81,81,39,36,0.462963
3,2002,ANA,99,0.282318,0.246653,162,81,81,54,45,0.611111
4,2003,ANA,77,0.268453,0.261027,162,82,80,45,32,0.475309
...,...,...,...,...,...,...,...,...,...,...,...
145,1999,TOR,84,0.280043,0.280298,162,81,81,40,44,0.518519
146,2000,TOR,83,0.275145,0.284883,162,81,81,45,38,0.512346
147,2001,TOR,80,0.262935,0.274916,162,82,80,40,40,0.493827
148,2002,TOR,78,0.261064,0.269389,162,81,81,42,36,0.481481
149,2003,TOR,86,0.279103,0.275618,162,81,81,41,45,0.530864

In [67]:
Teams4['h_wpc'] = Teams4['hwin']/Teams4['hgames']
Teams4['a_wpc'] = Teams4['awin']/Teams4['agames']
Teams4

,year,Team,wins,BAFOR,BAAGN,Games,hgames,agames,hwin,awin,wpc,h_wpc,a_wpc
0,1999,ANA,70,0.255552,0.268760,162,81,81,37,33,0.432099,0.456790,0.407407
1,2000,ANA,82,0.279673,0.273489,162,81,81,46,36,0.506173,0.567901,0.444444
2,2001,ANA,75,0.260674,0.262615,162,81,81,39,36,0.462963,0.481481,0.444444
3,2002,ANA,99,0.282318,0.246653,162,81,81,54,45,0.611111,0.666667,0.555556
4,2003,ANA,77,0.268453,0.261027,162,82,80,45,32,0.475309,0.548780,0.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,1999,TOR,84,0.280043,0.280298,162,81,81,40,44,0.518519,0.493827,0.543210
146,2000,TOR,83,0.275145,0.284883,162,81,81,45,38,0.512346,0.555556,0.469136
147,2001,TOR,80,0.262935,0.274916,162,82,80,40,40,0.493827,0.487805,0.500000
148,2002,TOR,78,0.261064,0.269389,162,81,81,42,36,0.481481,0.518519,0.444444
149,2003,TOR,86,0.279103,0.275618,162,81,81,41,45,0.530864,0.506173,0.555556

In [68]:
Teams4['WPCT_diff'] = abs(Teams4['h_wpc'] - Teams4['a_wpc'])
Teams4

,year,Team,wins,BAFOR,BAAGN,Games,hgames,agames,hwin,awin,wpc,h_wpc,a_wpc,WPCT_diff
0,1999,ANA,70,0.255552,0.268760,162,81,81,37,33,0.432099,0.456790,0.407407,0.049383
1,2000,ANA,82,0.279673,0.273489,162,81,81,46,36,0.506173,0.567901,0.444444,0.123457
2,2001,ANA,75,0.260674,0.262615,162,81,81,39,36,0.462963,0.481481,0.444444,0.037037
3,2002,ANA,99,0.282318,0.246653,162,81,81,54,45,0.611111,0.666667,0.555556,0.111111
4,2003,ANA,77,0.268453,0.261027,162,82,80,45,32,0.475309,0.548780,0.400000,0.148780
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,1999,TOR,84,0.280043,0.280298,162,81,81,40,44,0.518519,0.493827,0.543210,0.049383
146,2000,TOR,83,0.275145,0.284883,162,81,81,45,38,0.512346,0.555556,0.469136,0.086420
147,2001,TOR,80,0.262935,0.274916,162,82,80,40,40,0.493827,0.487805,0.500000,0.012195
148,2002,TOR,78,0.261064,0.269389,162,81,81,42,36,0.481481,0.518519,0.444444,0.074074
149,2003,TOR,86,0.279103,0.275618,162,81,81,41,45,0.530864,0.506173,0.555556,0.049383

In [70]:
ix = Teams4.index[Teams4['WPCT_diff'] == max(Teams4['WPCT_diff'])].to_list()

Max_Team = Teams4.iloc[ix[0]]['Team']
Max_Year = Teams4.iloc[ix[0]]['year']
A_PCT    = Teams4.iloc[ix[0]]['a_wpc']
A_PCT

0.30864197530864196

In [71]:
Teams4['AVG_Diff'] = Teams4['BAFOR'] - Teams4['BAAGN']
Teams4

,year,Team,wins,BAFOR,BAAGN,Games,hgames,agames,hwin,awin,wpc,h_wpc,a_wpc,WPCT_diff,AVG_Diff
0,1999,ANA,70,0.255552,0.268760,162,81,81,37,33,0.432099,0.456790,0.407407,0.049383,-0.013209
1,2000,ANA,82,0.279673,0.273489,162,81,81,46,36,0.506173,0.567901,0.444444,0.123457,0.006184
2,2001,ANA,75,0.260674,0.262615,162,81,81,39,36,0.462963,0.481481,0.444444,0.037037,-0.001942
3,2002,ANA,99,0.282318,0.246653,162,81,81,54,45,0.611111,0.666667,0.555556,0.111111,0.035664
4,2003,ANA,77,0.268453,0.261027,162,82,80,45,32,0.475309,0.548780,0.400000,0.148780,0.007426
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,1999,TOR,84,0.280043,0.280298,162,81,81,40,44,0.518519,0.493827,0.543210,0.049383,-0.000255
146,2000,TOR,83,0.275145,0.284883,162,81,81,45,38,0.512346,0.555556,0.469136,0.086420,-0.009737
147,2001,TOR,80,0.262935,0.274916,162,82,80,40,40,0.493827,0.487805,0.500000,0.012195,-0.011981
148,2002,TOR,78,0.261064,0.269389,162,81,81,42,36,0.481481,0.518519,0.444444,0.074074,-0.008325
149,2003,TOR,86,0.279103,0.275618,162,81,81,41,45,0.530864,0.506173,0.555556,0.049383,0.003484

In [72]:
print(min(Teams4['AVG_Diff']))

-0.045685013851863465

In [74]:
Teams4['NOT_162'] = np.where(Teams4['Games'] != 162,1,0)
Teams4

,year,Team,wins,BAFOR,BAAGN,Games,hgames,agames,hwin,awin,wpc,h_wpc,a_wpc,WPCT_diff,AVG_Diff,NOT_162
0,1999,ANA,70,0.255552,0.268760,162,81,81,37,33,0.432099,0.456790,0.407407,0.049383,-0.013209,0
1,2000,ANA,82,0.279673,0.273489,162,81,81,46,36,0.506173,0.567901,0.444444,0.123457,0.006184,0
2,2001,ANA,75,0.260674,0.262615,162,81,81,39,36,0.462963,0.481481,0.444444,0.037037,-0.001942,0
3,2002,ANA,99,0.282318,0.246653,162,81,81,54,45,0.611111,0.666667,0.555556,0.111111,0.035664,0
4,2003,ANA,77,0.268453,0.261027,162,82,80,45,32,0.475309,0.548780,0.400000,0.148780,0.007426,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,1999,TOR,84,0.280043,0.280298,162,81,81,40,44,0.518519,0.493827,0.543210,0.049383,-0.000255,0
146,2000,TOR,83,0.275145,0.284883,162,81,81,45,38,0.512346,0.555556,0.469136,0.086420,-0.009737,0
147,2001,TOR,80,0.262935,0.274916,162,82,80,40,40,0.493827,0.487805,0.500000,0.012195,-0.011981,0
148,2002,TOR,78,0.261064,0.269389,162,81,81,42,36,0.481481,0.518519,0.444444,0.074074,-0.008325,0
149,2003,TOR,86,0.279103,0.275618,162,81,81,41,45,0.530864,0.506173,0.555556,0.049383,0.003484,0

In [75]:
print(Teams4['NOT_162'].sum())

28

# III. Running Regressions

In [76]:
#Your Code Here
import statsmodels.formula.api as smf

WinBA_lm = smf.ols(formula = 'wpc ~ BAFOR + BAAGN', data=Teams4).fit()
WinBA_lm.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    wpc   R-squared:                       0.720
Model:                            OLS   Adj. R-squared:                  0.716
Method:                 Least Squares   F-statistic:                     188.6
Date:                Wed, 09 Nov 2022   Prob (F-statistic):           2.60e-41
Time:                        17:11:23   Log-Likelihood:                 265.67
No. Observations:                 150   AIC:                            -525.3
Df Residuals:                     147   BIC:                            -516.3
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.6016      0.099      6.069      0.000       0.406       0.797
BAFOR          3.7863      0.300     12.619      0.000       3.193       4.379
BAAGN         -4.1691      0.258    -16.141      0.000      -4.680      -3.659
==============================================================================
Omnibus:                        0.210   Durbin-Watson:                   1.530
Prob(Omnibus):                  0.900   Jarque-Bera (JB):                0.033
Skew:                           0.005   Prob(JB):                        0.983
Kurtosis:                       3.073   Cond. No.                         97.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [77]:
WinBA2_lm = smf.ols(formula = 'wpc ~ I(BAFOR - BAAGN)', data=Teams4).fit()
WinBA2_lm.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    wpc   R-squared:                       0.718
Model:                            OLS   Adj. R-squared:                  0.716
Method:                 Least Squares   F-statistic:                     376.0
Date:                Wed, 09 Nov 2022   Prob (F-statistic):           1.81e-42
Time:                        17:12:37   Log-Likelihood:                 265.13
No. Observations:                 150   AIC:                            -526.3
Df Residuals:                     148   BIC:                            -520.2
Df Model:                           1
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept            0.4997      0.003    147.125      0.000       0.493       0.506
I(BAFOR - BAAGN)     4.0099      0.207     19.390      0.000       3.601       4.419
==============================================================================
Omnibus:                        0.360   Durbin-Watson:                   1.507
Prob(Omnibus):                  0.835   Jarque-Bera (JB):                0.108
Skew:                          -0.003   Prob(JB):                        0.948
Kurtosis:                       3.131   Cond. No.                         60.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""